@model ReporteTransaccionesDetalladas

@{
    var resumenMontos = new ResumenMontosViewModel()
            {
                Ingresos = Model.BalanceDepositos,
                Egresos = Model.BalanceRetiros,
                Total = Model.Total
            };
}

<partial name="_ResumenMontos" model="@resumenMontos" />


<partial name="_NavegarPorMeses" model="@Model.FechaInicio" />

@if (Model.TransaccionesAgrupadas.Count() == 0)
{
    <h5 class="lm-empty">No hay Datos para mostrar</h5>
}
else
{
    <table class="table">
        <thead>
        </thead>
        <tbody>
            @foreach (var tr in Model.TransaccionesAgrupadas)
            {
                <tr class="bg-light border-1">
                    <td colspan="3">
                        @tr.FechaTransaccion.Day
                        <span class="badge bg-secondary ms-2">
                            @tr.FechaTransaccion.ToString("ddd")
                        </span>
                    </td>
                    <td class="activo">
                        @tr.BalanceDepositos.ToString("N")
                    </td>
                    <td class="pasivo">
                        @tr.BalanceRetiros.ToString("N")
                    </td>
                </tr>
                @foreach (var transaccion in tr.Transacciones)
                {
                    <tr>
                        <td>
                            <a asp-controller="Transacciones"
                   asp-action="Editar"
                   asp-route-id="@transaccion.Id"
                   asp-route-urlRetorno="@ViewBag.urlRetorno">
                                <i class="bi-pencil"></i>
                            </a>
                        </td>
                        <td>@transaccion.Categoria</td>
                        <td>@transaccion.Cuenta</td>
                        <td class="text-success">
                            @(transaccion.TipoOperacionId == TipoOperacion.Ingreso ? transaccion.Monto.ToString("N") : null)
                        </td>
                        <td class="text-danger">
                            @(transaccion.TipoOperacionId == TipoOperacion.Egreso ? transaccion.Monto.ToString("N") : null)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
