@model ReporteTransaccionesDetalladas

@{
    ViewData["Title"] = "Movimientos cuenta";
}

<h1>Movimientos @ViewBag.Cuenta</h1>

<h4>
    <a asp-route-mes="@ViewBag.mesAnterior" asp-route-año="@ViewBag.añoAnterior"
        class="btn btn-secondary"
    >
        <i class="bi-chevron-left"></i>
    </a>
    @Model.FechaInicio.ToString("MMM") - @Model.FechaInicio.Year

    <a asp-route-mes="@ViewBag.mesPosterior" asp-route-año="@ViewBag.añoPosterior"
       class="btn btn-secondary">
        <i class="bi-chevron-right"></i>
    </a>
    @*@Model.FechaInicio.ToString("MMM") - @Model.FechaInicio.Year*@

</h4>

<div class="mb-3">
    <section class="lm-grid">

        <div class="lm-card">
            <strong>Depositos</strong>
            <div class="">
                @Model.BalanceDepositos.ToString("N");
            </div>
        </div>
        <div class="lm-card">
            <strong>Retiros</strong>
            <div class="">
                @Model.BalanceRetiros.ToString("N");
            </div>
        </div>
        <div class="lm-card">
            <strong>Total</strong>
            <div class="">
                @Model.Total.ToString("N");
            </div>
        </div>
    </section>
</div>

@if(Model.TransaccionesAgrupadas.Count() == 0)
{
    <h5 class="lm-empty">No hay Datos para mostrar</h5>
}else
{
    <table class="table">
        <thead>
            
        </thead>
        <tbody>
            @foreach(var tr in Model.TransaccionesAgrupadas)
            {
                <tr class="bg-light border-1">
                    <td colspan="3">
                        @tr.FechaTransaccion.Day 
                        <span class="badge bg-secondary ms-2">
                            @tr.FechaTransaccion.ToString("ddd")
                        </span>
                    </td>
                    <td class="activo">
                        @tr.BalanceDepositos.ToString("N")
                    </td>
                    <td class="pasivo">
                        @tr.BalanceRetiros.ToString("N")
                    </td>
                </tr>
                    @foreach(var transaccion in tr.Transacciones)
                    {
                        <tr>
                            <td>
                                <a 
                                    asp-controller="Transacciones" 
                                    asp-action="Editar" 
                                    asp-route-id="@transaccion.Id"
                                    asp-route-urlRetorno="@ViewBag.urlRetorno"
                                >
                                    <i class="bi-pencil"></i>
                                </a>
                            </td>
                            <td>@transaccion.Categoria</td>
                            <td>@transaccion.Cuenta</td>
                            <td class="text-success">
                                @(transaccion.TipoOperacionId == TipoOperacion.Ingreso ? transaccion.Monto.ToString("N") : null)
                            </td>
                            <td class="text-danger">
                                @(transaccion.TipoOperacionId == TipoOperacion.Egreso ? transaccion.Monto.ToString("N") : null)
                            </td>
                        </tr>
                    }
            }
        </tbody>
    </table>
}


